body{
    background-color: #00e5e5
    color#00e5e5
}
header{
    border-bottom : solid 2px rgb(16, 177, 5)
    padding 20px
    font-size 35px
    color #00e5e5

}

h1{
    color:blue
}
